.background {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(145, 170, 180, 0.8),
      rgba(62, 96, 111, 0.8),
      rgba(25, 52, 65, 0.8)
    ),
    url("../../images/one.jpg");
  background-size: cover;
  background-position: center;
  padding: 81px 16px 16px 16px;
  position: relative;
}

#sign-up__container {
  padding: 5rem;
  background-color: rgba(245, 245, 245, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 75%;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35), 0 4px 8px rgba(0, 0, 0, 0.35);
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  font-size: 1rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(245, 245, 245, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid lightgreen;
}

.form__input:focus:invalid {
  border-bottom: 3px solid red;
}

.form__input::-webkit-input-placeholder {
  color: grey;
}

.form__label {
  font-size: 0.8rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
