* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding-top: 75px;
  background-image: linear-gradient(
    to bottom,
    rgba(145, 170, 180, 0.6),
    rgba(62, 96, 111, 0.6),
    rgba(25, 52, 65, 0.6)
  );
  min-height: 100vh;
}

.nav-bar {
  background-color: rgb(245, 245, 245);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  left: 0;
  padding: 16px 24px;
  position: fixed;
  text-align: right;
  right: 0;
  top: 0;
  z-index: 1;
}

.header__logo {
  height: 50px;
}

.header__logo-box {
  position: absolute;
  /* top: 40px; */
  left: 25px;
}

.button {
  border: 1px solid rgb(245, 245, 245);
  color: gray;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  margin: 0 6px 0 6px;
  min-width: 100px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.button.button__primary {
  background: gray;
  border-radius: 25px;
  color: white;
  outline: none;
}

.button.button__secondary {
  background: transparent;
  border-radius: 25px;
  border: 1px solid gray;
}

.button.button__primary:hover,
.button.button__secondary:hover {
  transform: translateY(-2px);
  transition: all 0.3s ease-in-out;
}

.form {
  text-align: center;
}

.form-input-box {
  width: 315px;
  height: 25px;
}
